/*--------------------------------------------
color,font varible setup
-------------------------------------------*/

:root{
    --c-primary:#975af9;
    --c-secondary:#46a7f8;
    --c-background:#e6e6e6;
    --c-dark:#2d2d2d;
    --c-black:#000000;
    --font-base:"poppins" ,sans-serif;

    
}
body{

    font-family: var(--font-base);
    font-size: 16px;
    line-height: 1.6;
    
    

  }

  .h1 .h2 .h3 .h4 .h5 .h6 {

    font-weight: 600;
  }

  p{
    font-family: var(--font-base);
  }
  a{
    text-decoration: none;
    color: var(--c-primary);
  }

  a:hover{
    color: var(--c-secondary);

  }

  .section-padding{
    padding-top: 120px;
    padding-bottom: 120px;
  }

  img{
    max-width: 100%;
    height: auto;
  }
.navbar-dark{
    background-color: var(--c-black);
}
  /*--------------------------------------------
button setup
-------------------------------------------*/
.btn{
  font-weight: 600 !important;
}

.btn-primary{
  background-color: var(--c-primary) !important;
  border: none !important;
}

.btn-primary:hover{
  background-color: var(--c-secondary) !important;
}
.btn-light{
  background-color: var(--c-background) !important;
}
/*-------------------------------------------
nav bar setup
-------------------------------------------*/
.navbar{
    font-family: var(--font-base);
    font-size: 16px;
    font-weight: 500 ;
    
}
/*--------------------------------------------
hero setup
-------------------------------------------*/
#hero{
    background: url(../img/home/hero-img\ .png);
    background-position: top;
    margin-top: 0px;

       
   
    
    
   
}
.herotext{
  font-size: 70px;
  font-weight: 700;
}
/*-------------------------------------------
footer setup
-------------------------------------------*/


/*.................................................
    about us
....................................................*/

.brand-title{
  font-size: 54px;
  font-weight: 700;
  font-family: var(--font-base);
}


.brand-p{
  font-size: 25px;
  font-weight: 400;
  font-family: var(--font-base);
}


/*.................................................
    icon box us
....................................................*/
.iconbox{

  background-color: var(--c-background);
  color: var(--c-primary);
  width: 60px;
  height: 65px;
  align-items: center;
  font-size: 35px;

}

.brand-title-light{
  font-size: 35px;
  font-weight: 600;
  font-family: var(--font-base);
  color: var(--c-background);
  word-spacing: 3px;
}

.brand-p-2{
  font-size: 16px;
  font-family: var(--font-base);
  word-spacing: 2px;
}


 .place{
  position: fixed;
 }